.headerContainer {
  display: flex;
  padding: 24px 64px;
  align-items: center;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}

.nav {
  margin-left: 450px;
}

.navList {
  display: flex;
  font-weight: 500;
  gap: 32px;
}

.navListLink {
  transition: 0.3s;
}

.navListLink:hover {
  color: var(--button-hover);
}
