.homeContainer {
  width: 1440px;
  padding-top: 48px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  gap: 64px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
