.showMoreButton {
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background: var(--button);
  transition: 0.3s;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: auto;
}

.showMoreButton:hover {
  background: var(--button-hover);
}
