.card {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.icon {
  width: 20px;
  height: 20px;
}

.imageWrapper {
  position: relative;
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
  object-position: center;
}

.description {
  width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headerTopWrapper {
  display: flex;
  align-items: center;
}

.price,
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.headerBottom {
  display: flex;
  gap: 16px;
}

.infoBlockWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
  align-items: center;
}
